<article class="doc">
    {{#with page.title}}
        <h1 class="page">{{{this}}}</h1>
    {{/with}}
    {{{page.contents}}}
    {{> pagination}}

    <!-- HTML to embed an iframe -->
    <div class="iframe-container">
        <iframe src="" name="iframe_learning" title="Online Learning Resource"></iframe>
    </div>

    <!-- CSS to make the iframe responsive -->
    <style>
        .iframe_learning iframe {
            border: 0;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    </style>


</article>
