<ul class="ted-footer__list">
    <li class="ted-footer__list-item ted-footer__list-item--icon"><a class="ted-footer__list-item-link" href="https://twitter.com/EUtenders" target="_blank"> <img class="ted-footer__list-item-icon" src="/image/layout_icon?img_id=1143583&amp;t=1706559495494" alt=""> <span>Twitter</span> </a></li>
    <li class="ted-footer__list-item ted-footer__list-item--icon"><a class="ted-footer__list-item-link" href="https://www.youtube.com/playlist?list=PLT5rARDev_rkQdFimoHlpv2Och1H0uBLs" target="_blank"> <img class="ted-footer__list-item-icon" src="/image/layout_icon?img_id=1143593&amp;t=1706559495494" alt=""> <span>YouTube</span> </a></li>
</ul>

.ted-footer__list-item-link {
font-size: 16px;
line-height: 22px;
font-weight: 400;
color: #0E47CB;