<!--
<style type="text/css">@import url('/documents/d/global/footer-eu');
</style>
-->
/**** Theme reset ****/

.site-class-10184.page-class-publication-detail li:not([class]) {
    padding-left: unset;
}

/**** Variables ****/

/*.footer-eu {
    --gs-base-color-link-100: var(--gs-base-color-eu-blue-100);
}*/

/**** Remove from theme? ****/

/* Footer top */
.footer {
    /*border-top: 1px solid red;*/
    background-color: var(--gs-base-color-eu-blue-5)!important;
}

#footer #extendedft {
    padding-bottom: unset;
    line-height: unset;
    border: none;x
    position: relative;
    background-color:var(--gs-base-color-eu-blue-5);
    height: 85%; /* Is this needed? */
}

#footer .extendedft li {
    width: unset!important;
}
#footer .extendedft a {
    line-height: unset;
}

#footer #simpleft {
    display: none;
}

/**** Definitions ****/

.gcss-op .ls-footer-group {
    grid-row-gap:0!important;
    padding-bottom: var(--gs-base-spacing-l);
    border-bottom: 2px solid var(--gs-base-color-eu-blue-20);
}

/* Footer links */

.gcss-op.footer-eu a {
    text-decoration: none!important;
}

.gcss-op.footer-eu a.ls-underline {
    text-decoration: underline!important;
}
.gcss-op.footer-eu a.ls-underline:hover {
    text-decoration: none!important;
}


.gcss-op.footer-eu a:focus,
.gcss-op.footer-eu ul li a:focus,
.gcss-op.footer-eu a:focus-visible,
.gcss-op.footer-eu ul li a:focus-visible {
    text-decoration: none!important;
    outline: 2px solid var(--gs-base-color-link-100)!important;
    outline-offset: 4px;
    border-radius: 0.015rem;
    -moz-outline-radius: 0.015rem;
}

.gcss-op.footer-eu a:hover {
    text-decoration: underline!important;
    color: var(--gs-base-color-eu-blue-140)!important;
}

.gcss-op.footer-eu p,
.gcss-op.footer-eu h2,
.gcss-op.footer-eu h2 a,
.gcss-op.footer-eu h3,
.gcss-op.footer-eu h4 {
    color: var(--gs-base-color-eu-gray-140)!important;
}

.gcss-op.footer-eu h2 a:hover {
    color: var(--gs-base-color-eu-gray-140)!important;
}

.gcss-op.footer-eu h3 {
    max-width:unset;
}

/* Site name */

.gcss-op.footer-eu h2,
.gcss-op.footer-eu h3 {
    padding-bottom: .75rem;
    margin-top:var(--gs-base-spacing-l)!important;
    font-size: var(--gs-base-font-size-2xl)!important;
    font-weight: var(--gs-base-font-weight-default)!important;
}

.gcss-op.footer-eu h3 {
    border-bottom: 1px solid var(--gs-base-color-eu-blue-20);
    margin-bottom:1rem!important;
}

.gcss-op.footer-eu h2 {
    margin-bottom:0!important;
}

/* Site logo */

.gcss-op.footer-eu .ls-footer-logo {
    margin-bottom: var(--gs-base-spacing-s);
    margin-top:var(--gs-base-spacing-2xl);
}
.gcss-op.footer-eu .ls-footer-logo picture {
    max-height: 44px;
    width: auto;
}

.gcss-op.footer-eu .ls-footer-logo img.ls-op {
    max-height: 54px;
    width: auto;
}

.gcss-op.footer-eu .ls-site-byline {
    line-height: var(--gs-base-line-height-l)!important;
    margin-bottom: 0;
}

.gcss-op.footer-eu ul {
    margin: 0; /* remove from theme? */
    padding: 0; /* remove from theme? */
    list-style-type: none; /* remove from theme? */
    position: relative; /* remove from theme? */
}

.gcss-op.footer-eu ul li,
.gcss-op.footer-eu ul li a {
    margin-bottom: var(--gs-base-spacing-s)!important;
    line-height: var(--gs-base-line-height-m)!important;
}

.gcss-op.footer-eu ul.ls-social-media-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gs-base-spacing-l);
    row-gap: var(--gs-base-spacing-m);
}

.gcss-op.footer-eu ul.ls-social-media-list li,
.gcss-op.footer-eu ul.ls-social-media-list li a {
    margin-bottom: 0!important;
}

.gcss-op.footer-eu ul.ls-social-media-list li a i {
    display: inline-block;
    margin-right: 0.5rem;
}


@media screen and (min-width: 992px) {

    .gcss-op .ls-footer-group {
        column-gap: var(--gs-base-spacing-2xl)!important;
        padding-bottom: var(--gs-base-spacing-2xl);
    }

    .gcss-op.footer-eu h2,
    .gcss-op.footer-eu h3 {
        margin-top:var(--gs-base-spacing-2xl)!important;
        font-size: var(--gs-base-font-size-3xl)!important;
    }

    .gcss-op.ls-op-services-list {
        column-count: 3;
        /*column-gap:var(--gs-base-spacing-2xl)!important;*/
    }

}

<div class="gcss-op footer-eu">
<div class="gs-grid gs-grid-lg-3col ls-footer-group" id="footer-section-op">
<div>
<h2 class="sr-only" id="section-title-op">Publications Office of the European Union</h2>

<div class="ls-footer-logo">
    <a aria-labelledby="section-title-op" href="/">
        <img alt="Publications Office of the European Union" class="ls-op" src="_/img/dd-footer-logo.png" />
    </a>
</div>

<p class="ls-site-byline">This website is managed by the <a class="ls-underline" href="/">Publications Office <span style="word-break: keep-all; white-space: nowrap;">of the European Union</span></a></p>
</div>

<div>
<h3>Need help?</h3>

<ul>
	<li><a href="/web/about-us/contact-us">Contact</a></li>
	<li><a href="/web/about-us/sitemap">Sitemap</a></li>
</ul>

<h3>Follow us</h3>

<ul class="ls-social-media-list">
	<li><a href="https://twitter.com/eulawdatapubs"><i aria-hidden="true" class="gs-icon-twitter"></i>Twitter</a></li>
	<li><a href="http://www.facebook.com/pages/EU-Law-and-Publications/218434258171162?sk=wall"><i aria-hidden="true" class="gs-icon-facebook-f"></i>Facebook</a></li>
	<li><a href="https://www.linkedin.com/company/publications-office-of-the-european-union/"><i aria-hidden="true" class="gs-icon-linkedin-f"></i>LinkedIn</a></li>
	<li><a href="https://www.instagram.com/eu_publicationsoffice/"><i aria-hidden="true" class="gs-icon-instagram"></i>Instagram</a></li>
	<li><a href="http://www.youtube.com/user/PublicationsOffice"><i aria-hidden="true" class="gs-icon-youtube"></i>YouTube</a></li>
</ul>

<h3>Legal</h3>

<ul>
	<li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices">Legal notices</a></li>
	<li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices/cookie-policy">Cookies</a></li>
	<li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices/accessibility-statement">Accessibility</a></li>
</ul>
</div>

<div>
<h3>About us</h3>

<ul>
	<li><a href="/web/about-us/about-publication-office-of-the-european-union">Our mission, vision and values</a></li>
	<li><a href="/web/general-publications/newsletters">Newsletter</a></li>
</ul>

<h3>Resources</h3>

<ul>
	<li><a href="/web/accessibility/">Accessible publishing</a></li>
	<li><a href="/web/general-publications/eu-apps">EU Apps</a></li>
	<li><a href="/web/eu-vocabularies/">EU Vocabularies</a></li>
	<li><a href="/web/euwebarchive">EU Web Archive</a></li>
	<li><a href="https://publications.europa.eu/code/">Interinstitutional style guide</a></li>
	<li><a href="/web/librarians-corner">Librarian's corner</a></li>
</ul>

<h3>Tools</h3>

<ul>
	<li><a href="/web/about-us/publishing-services-eu-staff-only">(EU staff) Publishing services</a></li>
	<li><a href="/web/webtools/">Web tools</a></li>
</ul>
</div>
</div>
</div>