<style type="text/css">@import url('/documents/d/global/footer-eu');
</style>

<div class="three-columns" style="background-color:#F3F6FC; max-width: 850px;">
    <div>
        <!--<h2 class="sr-only" id="section-title-op">Publications Office of the European Union</h2> -->

        <div class="ls-footer-logo"><a aria-labelledby="section-title-op" href="/"><img alt="TED Developer Docs" class="ls-op" src="{{{uiRootPath}}}/img/ted-logo-footer.png" width="240" height="48"/></a></div>

        <p class="ls-site-byline line-height: 1.5; !important; margin-bottom: 0; font-size: 1rem;!important;">This website is managed by the <a class="ls-underline" href="https://op.europa.eu/en/home"><span style="word-break: keep-all; white-space: nowrap; text-decoration: underline!important">Publications Office of the European Union</span></a></p>

    </div>
    <div>
    <h3 style = "color: #171A22;!important;
              padding-bottom: .75rem;
              margin-top:1.5 rem;
              font-size: 1.5rem!important;
              font-weight: 400!important;
              max-width:unset;
              border-bottom: 1px solid #CFDAF5;
              margin-bottom:1rem!important;
              margin-top: 2.5rem!important;
              font-size: 1.75rem!important;">Need Help?</h3>

        <ul>
            <li style="margin-bottom: 0.75rem;!important;line-height: 1.35;!important; text-decoration: none!important; text-underline-offset: 0.15em!important;"><a href="https://simap.ted.europa.eu/contact">Contact the TED Helpdesk</a></li>

        </ul>

        <h3 style = "color: #171A22;!important;
              padding-bottom: .75rem;
              margin-top:1.5 rem;
              font-size: 1.5rem!important;
              font-weight: 400!important;
              max-width:unset;
              border-bottom: 1px solid #CFDAF5;
              margin-bottom:1rem!important;
              margin-top: 2.5rem!important;
              font-size: 1.75rem!important;">Follow us</h3>

        <ul class="ls-social-media-list">
            <li><a href="https://twitter.com/eulawdatapubs"><i aria-hidden="true" class="gs-icon-twitter" src="{{{uiRootPath}}}/img/twitter.svg"></i>Twitter</a></li>
            <li><a href="http://www.youtube.com/user/PublicationsOffice"><i aria-hidden="true" class="gs-icon-youtube" src="{{{uiRootPath}}}/img/youtube.svg"></i>YouTube</a></li>
        </ul>

        <h3 style = "color: #171A22;!important;
              padding-bottom: .75rem;
              margin-top:1.5 rem;
              font-size: 1.5rem!important;
              font-weight: 400!important;
              max-width:unset;
              border-bottom: 1px solid #CFDAF5;
              margin-bottom:1rem!important;
              margin-top: 2.5rem!important;
              font-size: 1.75rem!important;">Legal</h3>

        <ul>
            <li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices/accessibility-statement">Accessibility</a></li>
        </ul>
    </div>
    <div>
        <h3 style = "color: #171A22;!important;
              padding-bottom: .75rem;
              margin-top:1.5 rem;
              font-size: 1.5rem!important;
              font-weight: 400!important;
              max-width:unset;
              border-bottom: 1px solid #CFDAF5;
              margin-bottom:1rem!important;
              margin-top: 2.5rem!important;
              font-size: 1.75rem!important;">About us</h3>

        <ul>
            <li><a href="/web/general-publications/newsletters">Our mission, vision, and values</a></li>
            <li><a href="/web/about-us/about-publication-office-of-the-european-union">Newsletter</a></li>
            <li><a href="/web/general-publications/newsletters">Help</a></li>
        </ul>

        <h3 style = "color: #171A22;!important;
              padding-bottom: .75rem;
              margin-top:1.5 rem;
              font-size: 1.5rem!important;
              font-weight: 400!important;
              max-width:unset;
              border-bottom: 1px solid #CFDAF5;
              margin-bottom:1rem!important;
              margin-top: 2.5rem!important;
              font-size: 1.75rem!important;">Other services</h3>

        <ul>
            <li><a href="/web/accessibility/">EU Law</a></li>
            <li><a href="/web/general-publications/eu-apps">European data</a></li>
            <li><a href="/web/eu-vocabularies/">EU tenders</a></li>
            <li><a href="/web/euwebarchive">EU research results</a></li>
            <li><a href="https://publications.europa.eu/code/">EU Whoiswho</a></li>
            <li><a href="/web/librarians-corner">EU publications</a></li>
        </ul>
    </div>
</div>

<div class="three-columns" style="background-color:#F3F6FC; max-width: 850px;">
    <div>
        <!--<h2 class="sr-only" id="section-title-op">Publications Office of the European Union</h2> -->

        <div class="ls-footer-logo"><a aria-labelledby="section-title-op" href="/"><img alt="European Union" class="ls-op" src="{{{uiRootPath}}}/img/logo-eu-en.svg" /></a></div>

        <p class="ls-site-byline line-height:1.5; !important; margin-bottom: 0; font-size: 1rem;!important;">Discover more on <a class="ls-underline" href="https://europa.eu/en/home"><span style="word-break: keep-all; white-space: nowrap; text-decoration: underline!important">europa.eu</span></a></p>

    </div>
    <div>
        <h3 style = "color: #171A22;!important;
              padding-bottom: .75rem;
              margin-top:1.5 rem;
              font-size: 1.5rem!important;
              font-weight: 400!important;
              max-width:unset;
              border-bottom: 1px solid #CFDAF5;
              margin-bottom:1rem!important;
              margin-top: 2.5rem!important;
              font-size: 1.75rem!important;">Contact the EU</h3>

        <ul>
            <li><a href="/web/about-us/contact-us">Call us 00 800 6 7 8 9 20 22</a></li>
            <li><a href="/web/about-us/contact-us">Use other Telephone options</a></li>
            <li><a href="/web/about-us/contact-us">Write to us via our contact forms</a></li>
            <li><a href="/web/about-us/contact-us">Meet us at one of the EU centres</a></li>
            Use other Telephone options
        </ul>

        <h3 style = "color: #171A22;!important;
              padding-bottom: .75rem;
              margin-top:1.5 rem;
              font-size: 1.5rem!important;
              font-weight: 400!important;
              max-width:unset;
              border-bottom: 1px solid #CFDAF5;
              margin-bottom:1rem!important;
              margin-top: 2.5rem!important;
              font-size: 1.75rem!important;">Social media</h3>

        <ul class="ls-social-media-list">
            <li><a href="https://twitter.com/eulawdatapubs"><i aria-hidden="true" class="gs-icon-twitter"></i>Search of EU social media channels</a></li>

        </ul>

        <h3 style = "color: #171A22;!important;
              padding-bottom: .75rem;
              margin-top:1.5 rem;
              font-size: 1.5rem!important;
              font-weight: 400!important;
              max-width:unset;
              border-bottom: 1px solid #CFDAF5;
              margin-bottom:1rem!important;
              margin-top: 2.5rem!important;
              font-size: 1.75rem!important;">Legal</h3>

        <ul>
            <li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices/accessibility-statement">Languages on our website</a></li>
            <li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices/accessibility-statement">Privacy Policy</a></li>
            <li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices/accessibility-statement">Legal notice</a></li>
            <li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices/accessibility-statement">Cookies</a></li>
        </ul>
    </div>
    <div>
        <h3 style = "color: #171A22;!important;
              padding-bottom: .75rem;
              margin-top:1.5 rem;
              font-size: 1.5rem!important;
              font-weight: 400!important;
              max-width:unset;
              border-bottom: 1px solid #CFDAF5;
              margin-bottom:1rem!important;
              margin-top: 2.5rem!important;
              font-size: 1.75rem!important;">EU institutions</h3>

        <ul>
            <li><a href="/web/general-publications/newsletters">European Parliament</a></li>
            <li><a href="/web/about-us/about-publication-office-of-the-european-union">European Council</a></li>
            <li><a href="/web/general-publications/newsletters">Council of the European Union</a></li>
            <li><a href="/web/about-us/legal-notices/accessibility-statement">European Commission</a></li>
            <li><a href="/web/about-us/legal-notices/accessibility-statement">Court of Justice of the European Union (CJEU)</a></li>
            <li><a href="/web/about-us/legal-notices/accessibility-statement">European Central Bank (ECB)</a></li>
            <li><a href="/web/about-us/legal-notices/accessibility-statement">European Court of Auditors (ECA)</a></li>
            <li><a href="/web/about-us/legal-notices/accessibility-statement">European External Action Services (EEAS)</a></li>
            <li><a href="/web/general-publications/newsletters">European Economic and Social Committee (EESC)</a></li>
            <li><a href="/web/about-us/about-publication-office-of-the-european-union">European Committee of the Regions (CoR)</a></li>
            <li><a href="/web/general-publications/newsletters">European Investment Bank (EIB)</a></li>
            <li><a href="/web/general-publications/newsletters">European Ombudsman</a></li>
            <li><a href="/web/about-us/about-publication-office-of-the-european-union">European Data Protection Supervisor (EDPS)</a></li>
            <li><a href="/web/general-publications/newsletters">European Data protection Board</a></li>
            <li><a href="/web/general-publications/newsletters">European Personnel Selection Office</a></li>
            <li><a href="/web/about-us/about-publication-office-of-the-european-union">Publications Office of the European Union</a></li>
            <li><a href="/web/general-publications/newsletters">Agencies</a></li>
            <li><a href="/web/general-publications/newsletters">European Parliament</a></li>
            <li><a href="/web/about-us/about-publication-office-of-the-european-union">European Council</a></li>
            <li><a href="/web/general-publications/newsletters">Council of the European Union</a></li>
        </ul>


    </div>
</div>


