<div class="gcss-op footer-eu">
    <div class="gs-grid gs-grid-lg-3col ls-footer-group" id="footer-section-op">
        <div class="col1">

            <h2 class="sr-only" id="section-title-op">Publications Office of the European Union</h2>

            <div class="ls-footer-logo">
                <a aria-labelledby="section-title-op" href="/">
                    <img alt="Publications Office of the European Union" class="ls-op" src="dd-footer-logo.svg" />
                </a>
            </div>

            <p class="ls-site-byline">This website is managed by the <a class="ls-underline" href="/">Publications Office <span style="word-break: keep-all; white-space: nowrap;">of the European Union</span></a></p>
        </div>

        <div class="col2">
            <h3>Need help?</h3>

            <ul>
                <li><a href="/web/about-us/contact-us">Contact</a></li>
                <li><a href="/web/about-us/sitemap">Sitemap</a></li>
            </ul>

            <h3>Follow us</h3>

            <ul class="ls-social-media-list">
                <li><a href="https://twitter.com/eulawdatapubs"><i aria-hidden="true" class="gs-icon-twitter"></i>Twitter</a></li>
                <li><a href="http://www.facebook.com/pages/EU-Law-and-Publications/218434258171162?sk=wall"><i aria-hidden="true" class="gs-icon-facebook-f"></i>Facebook</a></li>
                <li><a href="https://www.linkedin.com/company/publications-office-of-the-european-union/"><i aria-hidden="true" class="gs-icon-linkedin-f"></i>LinkedIn</a></li>
                <li><a href="https://www.instagram.com/eu_publicationsoffice/"><i aria-hidden="true" class="gs-icon-instagram"></i>Instagram</a></li>
                <li><a href="http://www.youtube.com/user/PublicationsOffice"><i aria-hidden="true" class="gs-icon-youtube"></i>YouTube</a></li>
            </ul>

            <h3>Legal</h3>

            <ul>
                <li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices">Legal notices</a></li>
                <li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices/cookie-policy">Cookies</a></li>
                <li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices/accessibility-statement">Accessibility</a></li>
            </ul>
        </div>

        <div class="col3">
            <h3>About us</h3>

            <ul>
                <li><a href="/web/about-us/about-publication-office-of-the-european-union">Our mission, vision and values</a></li>
                <li><a href="/web/general-publications/newsletters">Newsletter</a></li>
            </ul>

            <h3>Resources</h3>

            <ul>
                <li><a href="/web/accessibility/">Accessible publishing</a></li>
                <li><a href="/web/general-publications/eu-apps">EU Apps</a></li>
                <li><a href="/web/eu-vocabularies/">EU Vocabularies</a></li>
                <li><a href="/web/euwebarchive">EU Web Archive</a></li>
                <li><a href="https://publications.europa.eu/code/">Interinstitutional style guide</a></li>
                <li><a href="/web/librarians-corner">Librarian's corner</a></li>
            </ul>

            <h3>Tools</h3>

            <ul>
                <li><a href="/web/about-us/publishing-services-eu-staff-only">(EU staff) Publishing services</a></li>
                <li><a href="/web/webtools/">Web tools</a></li>
            </ul>
        </div>
    </div>
</div>
