{{> footer-scripts}}
<footer class="footer">
    <div class=columns>
        {{> footer-content}}
        <div>
            <h3>This website ischanging soon<h3>
                    <img src="{{{uiRootPath}}}/img/ted-logo-old.svg" class="logo" />
        </div>
    </div>
</footer>