<style type="text/css">@import url('/documents/d/global/custom');</style>

<div class="footer">
<div class="three-columns">

    <div class="col-md-12 col-lg-4">
        <div class="h3-footer">col1</div>
    </div>


    <div class="col-md-12 col-lg-4">
        <h3 class="h3-footer">col2</h3>
        <ul class="ul-footer">
            <li class="li-footer"></li>
            <li class="li-footer"></li>
        </ul>
    </div>

    <div class="col-md-12 col-lg-4">
        <h3 class="h3-footer">col3</h3>
        <ul class="ul-footer">
            <li class="li-footer"></li>
            <li class="li-footer"></li>
        </ul>
    </div>
</div>

<!--
<div class="three-columns">
    <div class="col-md-12 col-lg-4">
        <h2 class="sr-only" id="section-title-op">Publications Office of the European Union</h2>

        <div class="ls-footer-logo"><a aria-labelledby="section-title-op" href="/"><img alt="European Union" class="ls-op" /></a></div>
        <p class="byline-footer">Discover more on <a class="ls-underline" href="https://europa.eu/en/home"><span style="word-break: keep-all; white-space: nowrap; text-decoration: underline!important">europa.eu</span></a></p>

    </div>
    <div class="col-md-12 col-lg-4">
        <h3 class="h3-footer">Contact the EU</h3>

        <ul class="ul-footer">
            <li class="li-footer"><a href="tel:0080067891011">Call us 00 800 6 7 8 9 10 11</a></li>
            <li class="li-footer"><a href="https://european-union.europa.eu/contact-eu/call-us_en">Use other Telephone options</a></li>
            <li class="li-footer"><a href="https://european-union.europa.eu/contact-eu/write-us_en">Write to us via our contact forms</a></li>
            <li class="li-footer"><a href="https://european-union.europa.eu/contact-eu/meet-us_en">Meet us at one of the EU centres</a></li>

        </ul>

        <h3 class="h3-footer">Social Media</h3>
        <ul class="ul-footer">
            <li class="li-footer"><a href="https://european-union.europa.eu/contact-eu/social-media-channels_en#/search"><i aria-hidden="true" class="gs-icon-twitter"></i>Search of EU social media channels</a></li>

        </ul>

        <h3 class="h3-footer">Legal</h3>

        <ul class="ul-footer">
            <li class="li-footer"><a aria-labelledby="section-title-op" href="https://european-union.europa.eu/languages-our-websites_en">Languages on our website</a></li>
            <li class="li-footer"><a aria-labelledby="section-title-op" href="https://european-union.europa.eu/privacy-policy-european-union-website_en">Privacy Policy</a></li>
            <li class="li-footer"><a aria-labelledby="section-title-op" href="https://european-union.europa.eu/legal-notice_en">Legal notice</a></li>
            <li class="li-footer"><a aria-labelledby="section-title-op" href="https://european-union.europa.eu/cookies_en">Cookies</a></li>
        </ul>
    </div>
    <div class="col-md-12 col-lg-4">
        <h3 class="h3-footer"></h3>

        <ul class="ul-footer">
            <li class="li-footer">col3</li>

        </ul>
    </div>

   <!-- <script>
      ECL.autoInit();
    </script>

</div>
-->
</div>
