<style type="text/css">@import url('/documents/d/global/footer-eu');
</style>



<div class="gcss-op footer-eu">
    <div class="wrap">

        <div class="container">
            <div class="col">
                <h2 class="sr-only" id="section-title-op">Publications Office of the European Union</h2>

                <div class="ls-footer-logo"><a aria-labelledby="section-title-op" href="/"><img alt="Publications Office of the European Union" class="ls-op" src="/documents/d/global/logo-op-en" /></a></div>

                <p class="ls-site-byline">This website is managed by the <a class="ls-underline" href="/">Publications Office <span style="word-break: keep-all; white-space: nowrap;">of the European Union</span></a></p>

            </div>
            <div class="col">
                <h3>Need Help?</h3>

                <ul>
                    <li><a href="/web/about-us/contact-us">Contact the TED Helpdesk</a></li>

                </ul>

                <h3>Follow us</h3>

                <ul class="ls-social-media-list">
                    <li><a href="https://twitter.com/eulawdatapubs"><i aria-hidden="true" class="gs-icon-twitter"></i>Twitter</a></li>
                    <li><a href="http://www.youtube.com/user/PublicationsOffice"><i aria-hidden="true" class="gs-icon-youtube"></i>YouTube</a></li>
                </ul>

                <h3>Legal</h3>

                <ul>
                    <li><a aria-labelledby="section-title-op" href="/web/about-us/legal-notices/accessibility-statement">Accessibility</a></li>
                </ul>

            </div>
            <div class="col">
                <h3>About us</h3>

                <ul>
                    <li><a href="/web/general-publications/newsletters">Our mission, vision, and values</a></li>
                    <li><a href="/web/about-us/about-publication-office-of-the-european-union">Newsletter</a></li>
                    <li><a href="/web/general-publications/newsletters">Help</a></li>
                </ul>

                <h3>Other services</h3>

                <ul>
                    <li><a href="/web/accessibility/">EU Law</a></li>
                    <li><a href="/web/general-publications/eu-apps">European data</a></li>
                    <li><a href="/web/eu-vocabularies/">EU tenders</a></li>
                    <li><a href="/web/euwebarchive">EU research results</a></li>
                    <li><a href="https://publications.europa.eu/code/">EU Whoiswho</a></li>
                    <li><a href="/web/librarians-corner">EU publications</a></li>
                </ul>
            </div>
        </div>


    </div>

</div>
