<!--<style type="text/css">@import url('/documents/d/global/custom');
</style>
-->

<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Page title</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <script>
      var cl = document.querySelector('html').classList;
      cl.remove('no-js');
      cl.add('has-js');
    </script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            href="/styles/optional/ecl-reset.css"
            media="screen"
    />
    <link rel="stylesheet" href="/styles/ecl-ec.css" media="screen" />
    <link rel="stylesheet" href="/styles/ecl-ec-print.css" media="print" />
<!-- Start of header -->


    <!-- black bar top of header with flag and official site verification, automatic script-->
    <script defer src="https://europa.eu/webtools/load.js?globan=1110" type="text/javascript"></script>

    <!-- middle header section with EU flag and logo, full words for pc, "EU" for mobile, flexible-->
    <header class="dd-header-container">
        <!-- EU section under black top banner -->
        <div class="eu-part">
            <div class="eu-emblem">
                <!-- see if the flag and logo can be simplified!-->
                <div class="eu-emblem-std-en"><a href="/component-library/example#8pwum" src="{{{uiRootPath}}}/img/logo-eu-en.svg"><span></span>>/a>
                </div>

            </div>
        </div>

        <!-- grey line between eu part and ted dev docs part-->
        <div class="sep-frame">
            <div class="rect-grey">
                <!--rectangle> -->
            </div>
        </div>

        <!-- ted dev docs title section under grey line-->
        <div class="ted-dd-bar">
            <div class="ted-dd-text-bar">
                <div class="text-eu-tenders">EU Tenders

                </div>

            </div>
        </div>
       </header>
</head>
<!--
Top section:
<div class="ted-header__top">
    <div class="container"><img class="ted-header__top-flag" src="https://ted.europa.eu/o/ted2-theme/images/flag-eu.svg" alt="">
        <p class="ted-header__top-text">An official website of the European Union</p>
        <div class="dropdown"><button type="button" class="ted-header__top-button" data-toggle="dropdown" data-display="static"> <span> How do you know? </span> <i class="icon-angle-down ted-header__top-button-icon"></i> </button>
            <div class="dropdown-menu ted-header__top-dropdown">
                <p>All official European Union website addresses are in the&nbsp;<b>europa.eu</b>&nbsp;domain.</p>
                <p><a href="https://europa.eu/european-union/contact/institutions-bodies_en">See all EU institutions and bodies</a></p>
            </div>
        </div>
    </div>
</div>

Middle (main section):
<div class="ted-header__main">
    <div class="container">
        <div class="ted-header__wrapper-top">
            <div class="ted-header__logo-eu"><a href="https://european-union.europa.eu/index_en" target="_blank"> <img data-labels-key="lbl_header_eu_alternative_text" alt="European Union" class="d-block d-sm-none" src="https://ted.europa.eu/o/ted2-theme/images/eu/condensed/logo-eu--en.svg"> <img data-labels-key="lbl_header_eu_alternative_text" alt="European Union" class="d-none d-sm-block" src="https://ted.europa.eu/o/ted2-theme/images/eu/standard/logo-eu--en.svg"> </a>
            </div>
            <div class="ted-header__account dropdown">
                <div class="ted-header__account-button"><img data-labels-key="lbl_avatar_alternative_text" alt="Avatar" src="https://ted.europa.eu/o/ted2-theme/images/user.png"> <a class="ted-header__account-user" data-labels-key="lbl_header_signin" href="https://ted.europa.eu/c/portal/login?p_l_id=625&amp;redirect=%2Fen%2F">Log in</a>
                </div>
            </div>
            <div class="ted-language dropdown">
                <div class="portlet-boundary portlet-boundary_com_liferay_site_navigation_language_web_portlet_SiteNavigationLanguagePortlet_  portlet-static portlet-static-end portlet-naked portlet-language " id="p_p_id_com_liferay_site_navigation_language_web_portlet_SiteNavigationLanguagePortlet_"><span id="p_com_liferay_site_navigation_language_web_portlet_SiteNavigationLanguagePortlet"></span>
                    <section class="portlet" id="portlet_com_liferay_site_navigation_language_web_portlet_SiteNavigationLanguagePortlet">
                        <div class="portlet-content">
                            <div class=" portlet-content-container">
                                <div class="portlet-body"><button aria-label="Change language English" type="button" class="ted-language__button" data-toggle="dropdown" data-display="static"> <img data-labels-key="lbl_globe_alternative_text" alt="Select language for browsing" src="https://ted.europa.eu/o/ted2-theme/images/globe.png"> <span class="ted-language__text">English</span> </button>
                                    <div class="dropdown-menu"><a class="ted-language__item" data-id="bg" href="https://ted.europa.eu/bg/index">български (BG)</a> <a class="ted-language__item" data-id="es" href="https://ted.europa.eu/es/index">español (ES)</a> <a class="ted-language__item" data-id="cs" href="https://ted.europa.eu/cs/index">čeština (CS)</a> <a class="ted-language__item" data-id="da" href="https://ted.europa.eu/da/index">dansk (DA)</a> <a class="ted-language__item" data-id="de" href="https://ted.europa.eu/de/index">deutsch (DE)</a> <a class="ted-language__item" data-id="et" href="https://ted.europa.eu/et/index">eesti (ET)</a> <a class="ted-language__item" data-id="el" href="https://ted.europa.eu/el/index">ελληνικά (EL)</a> <a class="ted-language__item active" data-id="en" href="https://ted.europa.eu/en/index">english (EN)</a> <a class="ted-language__item" data-id="fr" href="https://ted.europa.eu/fr/index">français (FR)</a> <a class="ted-language__item" data-id="ga" href="https://ted.europa.eu/ga/index">gaeilge (GA)</a> <a class="ted-language__item" data-id="hr" href="https://ted.europa.eu/hr/index">hrvatski (HR)</a> <a class="ted-language__item" data-id="it" href="https://ted.europa.eu/it/index">italiano (IT)</a> <a class="ted-language__item" data-id="lv" href="https://ted.europa.eu/lv/index">latviešu (LV)</a> <a class="ted-language__item" data-id="lt" href="https://ted.europa.eu/lt/index">lietuvių (LT)</a> <a class="ted-language__item" data-id="hu" href="https://ted.europa.eu/hu/index">magyar (HU)</a> <a class="ted-language__item" data-id="mt" href="https://ted.europa.eu/mt/index">malti (MT)</a> <a class="ted-language__item" data-id="nl" href="https://ted.europa.eu/nl/index">nederlands (NL)</a> <a class="ted-language__item" data-id="pl" href="https://ted.europa.eu/pl/index">polski (PL)</a> <a class="ted-language__item" data-id="pt" href="https://ted.europa.eu/pt/index">português (PT)</a> <a class="ted-language__item" data-id="ro" href="https://ted.europa.eu/ro/index">română (RO)</a> <a class="ted-language__item" data-id="sk" href="https://ted.europa.eu/sk/index">slovenčina (SK)</a> <a class="ted-language__item" data-id="sl" href="https://ted.europa.eu/sl/index">slovenščina (SL)</a> <a class="ted-language__item" data-id="fi" href="https://ted.europa.eu/fi/index">suomi (FI)</a> <a class="ted-language__item" data-id="sv" href="https://ted.europa.eu/sv/index">svenska (SV)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="ted-header__wrapper-bottom">
            <div class="ted-header__logo"><a class="ted-header__logo-link" href="https://ted.europa.eu"> <span data-labels-key="lbl_header_eutenders" class="ted-header__logo-title">EU tenders</span> <span data-labels-key="lbl_header_ted2" class="ted-header__logo-main">Ted • tenders electronic daily</span> <span data-labels-key="lbl_header_title" class="ted-header__logo-tagline d-none d-sm-inline-block">Supplement to the Official Journal of the EU</span> </a>
            </div>
        </div>
    </div>
</div>




<div class="lfr-layout-structure-item-com-liferay-asset-publisher-web-portlet-assetpublisherportlet lfr-layout-structure-item-caa04284-bf54-c01c-1251-a64fc1d00f0b " style="">
    <div id="fragment-de8c161a-774b-1e45-0e91-774fb9168976">
        <div class="portlet-boundary portlet-boundary_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_  portlet-static portlet-static-end portlet-naked portlet-asset-publisher " id="p_p_id_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_huqi_"><span id="p_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_huqi"></span>
            <section class="portlet" id="portlet_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_huqi">
                <div class="portlet-content">
                    <div class=" portlet-content-container">
                        <div class="portlet-body">
                            <script type="text/javascript">
(function() {var $ = AUI.$;var _ = AUI._;
	var assetEntryId =
		'';

	if (assetEntryId) {
		window.location.hash = assetEntryId;
	}
})();

</script>
                            <script>

                            </script>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

Bottom (search) section:
<div class="lfr-layout-structure-item-search-container-0 lfr-layout-structure-item-ef20423e-5b2b-8273-d399-8fc1603b0f4f " style="">
    <div id="fragment-e95f77c6-b319-015c-f60e-3b3f65d77711">
        <div class="ted-search isHomepage">
            <div class="container">
                <div class="ted-search__wrapper">
                    <div class="row">
                        <div class="col-auto d-lg-none">
                            <div>
                                <div class="lfr-layout-structure-item-com-liferay-site-navigation-menu-web-portlet-sitenavigationmenuportlet lfr-layout-structure-item-7cdd13c2-e60f-2a1f-ae3f-5688a6cbef4d " style="">
                                    <div id="fragment-88d83f95-5e1e-30a7-b073-145f7794fa19">
                                        <div class="portlet-boundary portlet-boundary_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_  portlet-static portlet-static-end portlet-naked portlet-navigation " id="p_p_id_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_yahc_"><span id="p_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_yahc"></span>
                                            <section class="portlet" id="portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_yahc">
                                                <div class="portlet-content">
                                                    <div class=" portlet-content-container">
                                                        <div class="portlet-body">
                                                            <div class="ted-controls">
                                                                <div class="ted-nav">
                                                                    <div class="ted-nav-desktop-container"><button class="ted-nav-btn js-nav-btn-desktop d-none d-lg-inline-flex">
                                                                        <div class="ted-nav-btn__icon"><span></span> <span></span> <span></span>
                                                                        </div> <span data-labels-key="lbl_menu_text" class="ted-nav-btn__text d-none d-sm-inline">Menu</span> </button>
                                                                        <div class="ted-nav-dropdown-wrapper d-none d-lg-block">
                                                                            <nav class="ted-nav-dropdown">
                                                                                <div class="row">
                                                                                    <div class="col-4">
                                                                                        <div class="ted-nav__header"><span>SIMAP</span>
                                                                                        </div>
                                                                                        <div class="ted-nav__list-parent">
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/general-information">General information</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/european-public-procurement">European public procurement</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/legislation-and-useful-links">Legislation and useful links</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/statistics-on-ted-notices">Statistics on TED notices</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/contracts-awarded-by-eu-institutions">Contracts awarded by EU Institutions</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/send-notices">Send notices</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/sending-electronic-notices">Sending electronic notices</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/list-of-ted-esenders">List of TED eSenders</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/reuse-notices">Reuse notices</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/developers-corner-for-reusers">Developers' corner for Reusers</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/public-procurement-standards">Public procurement standards</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/eforms">eForms</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/standard-forms-for-public-procurement">Standard forms for public procurement</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/european-single-procurement-document">European Single Procurement Document</a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/eprocurement-ontology">eProcurement Ontology</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-4">
                                                                                        <div class="ted-nav__header"><span>Official Journal Supplement</span>
                                                                                        </div>
                                                                                        <div class="ted-nav__list-parent">
                                                                                            <div class="ted-nav__list-item-link"><a href="https://ted.europa.eu/search/result?search-scope=LATEST" target="_blank"> Latest issue <img alt="" src="https://ted.europa.eu/o/ted2-theme/images/open.png"> </a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/release-calendar">Release calendar</a>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ted-nav__header"><span>What's new</span>
                                                                                        </div>
                                                                                        <div class="ted-nav__list-parent">
                                                                                            <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/news">Latest news</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-4">
                                                                                        <div class="ted-nav__header"><span>Access other sites in the TED family</span>
                                                                                        </div>
                                                                                        <div class="ted-nav__list-parent">
                                                                                            <div class="ted-nav__list-item-link"><a href="https://enotices2.ted.europa.eu" target="_blank"> eNotices2 <img alt="" src="https://ted.europa.eu/o/ted2-theme/images/open.png"> </a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item-link"><a href="https://docs.ted.europa.eu" target="_blank"> TED Developer Docs <img alt="" src="https://ted.europa.eu/o/ted2-theme/images/open.png"> </a>
                                                                                            </div>
                                                                                            <div class="ted-nav__list-item-link"><a href="https://developer.ted.europa.eu" target="_blank"> TED Developer Portal <img alt="" src="https://ted.europa.eu/o/ted2-theme/images/open.png"> </a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </nav>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ted-nav-mobile-container">
                                                                        <div class="ted-nav-btn ted-nav-btn--mobile js-nav-btn-mobile d-lg-none">
                                                                            <div class="ted-nav-btn__icon"><span></span> <span></span> <span></span>
                                                                            </div>
                                                                        </div>
                                                                        <nav class="ted-nav-mobile">
                                                                            <div class="ted-nav__close"><img alt="" class="js-nav-close" src="https://ted.europa.eu/o/ted2-theme/images/close-icon.png">
                                                                            </div>
                                                                            <div class="ted-nav__header"><span>SIMAP</span>
                                                                            </div>
                                                                            <div class="ted-nav__list-parent">
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/general-information">General information</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/european-public-procurement">European public procurement</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/legislation-and-useful-links">Legislation and useful links</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/statistics-on-ted-notices">Statistics on TED notices</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/contracts-awarded-by-eu-institutions">Contracts awarded by EU Institutions</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/send-notices">Send notices</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/sending-electronic-notices">Sending electronic notices</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/list-of-ted-esenders">List of TED eSenders</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/reuse-notices">Reuse notices</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/developers-corner-for-reusers">Developers' corner for Reusers</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/public-procurement-standards">Public procurement standards</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/eforms">eForms</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/standard-forms-for-public-procurement">Standard forms for public procurement</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/european-single-procurement-document">European Single Procurement Document</a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/simap/eprocurement-ontology">eProcurement Ontology</a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="ted-nav__header"><span>Official Journal Supplement</span>
                                                                            </div>
                                                                            <div class="ted-nav__list-parent">
                                                                                <div class="ted-nav__list-item-link"><a href="https://ted.europa.eu/search/result?search-scope=LATEST" target="_blank"> Latest issue <img alt="" src="https://ted.europa.eu/o/ted2-theme/images/open.png"> </a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/release-calendar">Release calendar</a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="ted-nav__header"><span>What's new</span>
                                                                            </div>
                                                                            <div class="ted-nav__list-parent">
                                                                                <div class="ted-nav__list-item"><a href="https://ted.europa.eu/en/news">Latest news</a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="ted-nav__header"><span>Access other sites in the TED family</span>
                                                                            </div>
                                                                            <div class="ted-nav__list-parent">
                                                                                <div class="ted-nav__list-item-link"><a href="https://enotices2.ted.europa.eu" target="_blank"> eNotices2 <img alt="" src="https://ted.europa.eu/o/ted2-theme/images/open.png"> </a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item-link"><a href="https://docs.ted.europa.eu" target="_blank"> TED Developer Docs <img alt="" src="https://ted.europa.eu/o/ted2-theme/images/open.png"> </a>
                                                                                </div>
                                                                                <div class="ted-nav__list-item-link"><a href="https://developer.ted.europa.eu" target="_blank"> TED Developer Portal <img alt="" src="https://ted.europa.eu/o/ted2-theme/images/open.png"> </a>
                                                                                </div>
                                                                            </div>
                                                                        </nav>
                                                                        <div class="ted-nav-backdrop"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col pl-0 pl-lg-3">
                            <div>
                                <div class="lfr-layout-structure-item-search lfr-layout-structure-item-01a7821e-3109-6aed-f482-8f67b53aa838 " style="">
                                    <div id="fragment-92ff3dbe-a7b1-01ec-18db-73c07dee2b4b">
                                        <div class="ted-search">
                                            <form id="ted-search-form" action="https://ted.europa.eu/en/search/result?FT=test&amp;scope=ACTIVE&amp;simpleSearchRef=true" method="post" class="ted-search___input-group">
                                                <div class="ted-search__input-group-prepend d-none d-md-block">
                                                    <div class="ted-search__input-group-icon"><img alt="" src="https://ted.europa.eu/o/ted2-theme/images/magnifying-glass-icon.png">
                                                    </div>
                                                </div> <input data-labels-key="lbl_quicksearch_searchtext" id="ted-search-input-text" type="text" name="ted-search-input-text" class="ted-search__form-control" placeholder="Search TED for public tenders">
                                                <div class="ted-search__input-group-append"><button id="ted-search-submit" class="ted-search__button-search" type="button"> <span data-labels-key="lbl_quicksearch_searchbutton" class="d-none d-md-inline">Search</span> <img class="d-md-none" data-labels-key="lbl_searchbutton_alternative_text" alt="Search button" src="https://ted.europa.eu/o/ted2-theme/images/magnifying-glass-blue-icon.png"> </button>
                                                </div>
                                            </form>
                                            <div class="ted-search__options-desktop d-none d-md-flex"><span data-labels-key="lbl_quicksearch_moreoptions" class="ted-search__text">More search options:</span> <a id="advanced-search-nav-button" data-labels-key="lbl_quicksearch_advancedsearchbuttton" data-senna-off="true" href="https://ted.europa.eu/advanced-search" class="ted-search__button-options">Advanced search</a> <a id="expert-search-nav-button" data-labels-key="lbl_quicksearch_expertsearchbutton" data-senna-off="true" href="https://ted.europa.eu/expert-search" class="ted-search__button-options">Expert search</a>
                                                <div class="ted-search__dropdown"><button data-labels-key="lbl_quicksearch_browsebysubjectbutton" class="ted-search__button-options ted-search__dropdown-toggle dropdown-toggle" type="button" data-toggle="dropdown"> Browse by subject </button>
                                                    <div class="ted-search__dropdown-menu dropdown-menu"><a data-senna-off="true" class="ted-search__dropdown-item" href="https://ted.europa.eu/browse-by-business-opportunity"> <span data-labels-key="lbl_quicksearch_businessopportunity">Business opportunity</span> </a> <a data-senna-off="true" class="ted-search__dropdown-item" href="https://ted.europa.eu/browse-by-business-sector"> <span data-labels-key="lbl_quicksearch_businesssector">Business sector (CPV)</span> </a> <a data-senna-off="true" class="ted-search__dropdown-item" href="https://ted.europa.eu/browse-by-place-of-performance"> <span data-labels-key="lbl_quicksearch_placeofperformance">Place of performance</span> </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ted-search__options-mobile d-md-none">
                                                <div class="ted-search__options-mobile-dropdown"><a href="#" class="ted-search__options-mobile-dropdown-toggle dropdown-toggle" data-toggle="dropdown" data-labels-key="lbl_homepage_searchoptions">Search options</a>
                                                    <div class="ted-search__options-mobile-dropdown-menu dropdown-menu dropdown-menu-right"><a data-labels-key="lbl_quicksearch_advancedsearchbuttton" data-senna-off="true" href="https://ted.europa.eu/advanced-search" class="ted-search__options-mobile-button ted-search__options-mobile-button--color">Advanced search</a> <a data-labels-key="lbl_quicksearch_expertsearchbutton" data-senna-off="true" href="https://ted.europa.eu/expert-search" class="ted-search__options-mobile-button ted-search__options-mobile-button--color">Expert search</a>
                                                        <div class="dropdown-test"><button data-labels-key="lbl_quicksearch_browsebysubjectbutton" class="ted-search__options-mobile-button ted-search__options-mobile-button--naked" type="button"> Browse by subject </button>
                                                            <div class="ted-search__dropdown-menu ted-search__dropdown-menu-mobile"><a data-senna-off="true" class="ted-search__dropdown-item" href="https://ted.europa.eu/browse-by-business-opportunity"> <span data-labels-key="lbl_quicksearch_businessopportunity">Business opportunity</span> </a> <a data-senna-off="true" class="ted-search__dropdown-item" href="https://ted.europa.eu/browse-by-business-sector"> <span data-labels-key="lbl_quicksearch_businesssector">Business sector (CPV)</span> </a> <a data-senna-off="true" class="ted-search__dropdown-item" href="https://ted.europa.eu/browse-by-place-of-performance"> <span data-labels-key="lbl_quicksearch_placeofperformance">Place of performance</span> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <script>(function() {const configuration = {"businessSector":"/browse-by-business-sector","expertSearch":"/expert-search","advancedSearchMobile":"/advanced-search","businessOpportunityMobile":"/browse-by-business-opportunity","placeOfPerformanceMobile":"/browse-by-place-of-performance","advancedSearch":"/advanced-search","formAction":"/search/result?FT=test&scope=ACTIVE&simpleSearchRef=true","expertSearchMobile":"/expert-search","businessOpportunity":"/browse-by-business-opportunity","placeOfPerformance":"/browse-by-place-of-performance","businessSectorMobile":"/browse-by-business-sector"}; const fragmentElement = document.querySelector('#fragment-92ff3dbe-a7b1-01ec-18db-73c07dee2b4b'); const fragmentEntryLinkNamespace = 'kkxd'; const fragmentNamespace = 'kkxd'; const layoutMode = 'view';var submitForm = function() {
	var form = $('#ted-search-form');
	var formAction = form.attr('action');
	var input = $('#ted-search-input-text').val().trim();
	var url = new URL(formAction);
	url.searchParams.set('FT', input);
	form.attr('action', url.href);
	form[0].submit();
};

var ajaxSearch = function () {
	console.log('ajaxSearch');

	var input = $('#ted-search-input-text').val();
	var date = new Date();
	var day = date.getDate();
	var month = date.getMonth() + 1;
	var year = date.getFullYear();
	var hours = String(date.getHours()).padStart(2, '0');
	var minutes = String(date.getMinutes()).padStart(2, '0');
	var seconds = String(date.getSeconds()).padStart(2, '0');
	var dateTime = `${day}/${month}/${year} ${hours}:${minutes}:${seconds}`;

    var data = {
        searchName: `Last search (${dateTime})`,
        searchType: 'advanced',
        query: `(FT ~ (${input}))`,
        data: {
            "FT": {
                "labels": `${input}`
            },
            "notice-type": {
                "labels": [],
                "codes": []
            },
            "business-opportunity": {
                "labels": [],
                "codes": []
            },
            "SPD": {
                "date": null,
                "value": ""
            },
            "FPD": {
                "date": null,
                "value": ""
            },
            "TPD": {
                "date": null,
                "value": ""
            },
            "SDT": {
                "date": null,
                "value": ""
            },
            "FDT": {
                "date": null,
                "value": ""
            },
            "TDT": {
                "date": null,
                "value": ""
            },
            "SDD": {
                "date": null,
                "value": ""
            },
            "FDD": {
                "date": null,
                "value": ""
            },
            "TDD": {
                "date": null,
                "value": ""
            },
            "classification-cpv": {
                "labels": [],
                "codes": []
            },
            "contract-nature": {
                "labels": [],
                "codes": []
            },
            "place-of-performance": {
                "labels": [],
                "codes": []
            },
            "MIN": {
                "labels": ""
            },
            "MAX": {
                "labels": ""
            },
            "total-value-cur": {
                "labels": [],
                "codes": []
            },
            "procedure-type": {
                "labels": [],
                "codes": []
            },
            "submission-language": {
                "labels": [],
                "codes": []
            },
            "ojs-number": {
                "labels": ""
            },
            "publication-number": {
                "labels": ""
            },
            "buyer-name": {
                "labels": ""
            },
            "buyer-identifier": {
                "labels": ""
            },
            "buyer-country": {
                "labels": [],
                "codes": []
            },
            "buyer-city": {
                "labels": ""
            },
            "buyer-legal-type": {
                "labels": [],
                "codes": []
            },
            "main-activity": {
                "labels": [],
                "codes": []
            },
            "legal-basis": {
                "labels": [],
                "codes": []
            },
            "legal-basis-text": {
                "labels": ""
            },
            "search-scope": "ACTIVE",
            "funding": {
                "labels": [],
                "codes": []
            }
        },
        isRecentlyView: true,
        priodicity: 5,
        overWrite: false,
        scope: 'ACTIVE'
    };

    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    var raw = JSON.stringify(data);

    var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
    };

	console.log('requestOptions', requestOptions);

	fetch(`${themeDisplay.getPortalURL()}/view?p_p_id=gr_open_fragments_ViewPortlet&p_p_lifecycle=2&p_p_state=normal&p_p_mode=view&p_p_cacheability=cacheLevelPage`, requestOptions)
        .then(response => response.text())
        .then(result => {
            console.log('result', result);
        })
        .catch(error => {
            console.log('error', error);
        })
        .finally(() => {
            console.log('finally');
            submitForm();
        });
};

$('.ted-search__options-mobile-dropdown').on('hide.bs.dropdown', function (e) {
    if (e.clickEvent) {
        e.preventDefault();
    }
});

var dropdownMenuMobile = $('.ted-search__dropdown-menu-mobile');

$('.ted-search__options-mobile-button--naked').on('click', function (event) {
    if (dropdownMenuMobile.hasClass('show')) {
        dropdownMenuMobile.removeClass('show');
    } else {
        dropdownMenuMobile.addClass('show');
    }
});

$('.ted-search__dropdown-menu-mobile .ted-search__dropdown-item').on('click', function (event) {
    dropdownMenuMobile.removeClass('show');
});

$('#ted-search-form').on('submit', function () {
   ajaxSearch();

});

$('#ted-search-submit').on('click', function () {
	ajaxSearch();
});;}());</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>Page title</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <script>
      var cl = document.querySelector('html').classList;
      cl.remove('no-js');
      cl.add('has-js');
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="/styles/optional/ecl-reset1.css"
      media="screen"
    />
    <link rel="stylesheet" href="/styles/ecl-eu.css" media="screen" />
    <link rel="stylesheet" href="/styles/ecl-eu-print.css" media="print" />
  </head>
-->