{{> header-scripts}}
<!doctype html>
<html lang="en" >
     <!-- class="no-js" -->
<head>
    <meta charset="utf-8" />
    <title>Page title</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <!-- <script>
      var cl = document.querySelector('html').classList;
      cl.remove('no-js');
      cl.add('has-js');
    </script> -->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/optional/custom.css" media="screen"/>
    <!--<link rel="stylesheet" href="/styles/ecl-ec.css" media="screen" />
    <link rel="stylesheet" href="/styles/ecl-ec-print.css" media="print" />
    -->


</head>
<header>
    <!-- Start of header -->
    <!-- black bar top of header with flag and official site verification, automatic script-->
    <script defer src="https://europa.eu/webtools/load.js?globan=1110" type="text/javascript"></script><!-- middle header section with EU flag and logo, full words for pc, "EU" for mobile, flexible-->
    <div class="dd-header-container">

        <!-- EU section under black top banner -->
        <div class="eu-part">
            <div class="eu-emblem" style="display: inline-block;">

                <!-- flag and logo-->
                <div class="eu-emblem-std-en"><a href="https://european-union.europa.eu/index_en"><img src="https://ted.europa.eu/o/ted2-theme/images/eu/standard/logo-eu--en.svg" width="161"><span></span></a></div>
                <!-- <img src="https://ted.europa.eu/o/ted2-theme/images/eu/standard/logo-eu--en.svg">
                <img src="{{{uiRootPath}}}/img/EU.svg" width="161"> -->
            </div>
           <!-- Algolia Search -->
            <div class="navbar-item search">
                <span class="algolia-autocomplete algolia-autocomplete-right" style="position: relative; display: inline-block; direction: ltr;"><input id="search-input" type="text" placeholder="Search docs" class="ds-input" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-label="search input" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                    <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Arial; font-size: 13.3333px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                    <span class="ds-dropdown-menu ds-with-1" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; left: 0px; right: auto; display: none;"><div class="ds-dataset-1"></div>
                    </span></span>
            </div>
            </div>
        <!-- grey line between eu part and ted dev docs part-->
        <div class="sep-frame">
            <div class="rect-grey"></div>
        </div>

        <!-- ted dev docs title section under grey line-->
        <div class="ted-dd-bar">
            <div class="ted-dd-text-bar">
                <div class="ted-dd-text-field">
                    <div class="text-eu-tenders">EU tenders</div>
                    <div class="text-eu-subtext-text">TED Developer Docs</div>
                    <div class="text-eu-subtext-label">Documentation for TED developers and eSenders</div>
                </div>
            </div>
        </div>

        <!-- green line between header and body-->
        <div class="sep-frame">
            <div class="rect-green"></div>
        </div>
    </div>

</header>

</html>
