{{> header-scripts}}
{{> header-content}}
<!--
                {{#if env.SEARCH_ENABLED}}
                    <div class="navbar-item search">
                        <input id="search-input" type="text" placeholder="Search docs">
                    </div>
                {{/if}}
-->