.article{
    max-width: 1480px;
    position: sticky;
    margin: 0 auto !important;
    float: none !important;
}


.nav .navbar {
    background: #8fd3fe !important;
}

/*

global screen max-width

.body, .footer, .toolbar, .sep-frame{
   width: 100%;
    }

.nav {
    background-color: #8fd3fe !important;
    background: #8fd3fe !important;
    color: #fff;
    font-size: .88889rem;
    height: 6.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.navbar-brand {
    background-color: #8fd3fe;
}

.body {
    background-color: #8fd3fe !important;
}

*/

/*flag image swap on screen width
 @media (min-width:769px) {
        .eu-emblem-std-en {
        content: url("https://ted.europa.eu/o/ted2-theme/images/eu/standard/logo-eu--en.svg")
        }
 }

 @media (max-width:768px) {
        .eu-emblem-std-en {
        content: url("https://ted.europa.eu/o/ted2-theme/images/eu/condensed/logo-eu--en.svg")
        }
 }
*/



/*@media screen and (min-width:500px) {
        .docs-search {
        display: flex;
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: none;
        -webkit-box-align: center;
        flex: none;
        align-items: center;
        margin-top: 20px;
        margin-right:15px;
        }
}

/* max @mediao use if mid-range needed:
@media screen and (min-width:1481px) {
       .docs-search {
       position: absolute;
       margin-top: 20px;
       margin-right:15px;
       left:1080px;
       }
}
*/

/*Horizontal bar container, grey and green header section separator rectangles*/
.sep-frame {

}

/*Horizontal grey bar*/
.rect-grey {
    width: 1455px;
    height: 2px;
    margin-left:25px;
    background: #CFDAF5;
}



/* formatting of "TED developer Docs" container*/



/* "Documentation for TED developers and eSenders" hidden on small width screens*/
  @media (max-width:768px) {
            .text-eu-subtext-label {
            display: none;
            }
        }

/*green line below header*/
.rect-green {
    width: 1480px;
    height: 6px;
    background: #339900;
    }
/*End of Header*/




    .three-columns {
        display:flex;
        flex-wrap: wrap;
        background-color:#F3F6FC;
        border-bottom: 1px solid #CFDAF5;
        }

    /* columns */
    .three-columns > * {
        padding:1rem;

    }

     /*tablet breakpoint*/
    @media screen and (min-width:769px) {
        .three-columns {
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }


    .h3-footer {
        font-family:Arial, sans-serif !important;
        color: #171A22 !important;
        padding-bottom: 0.75rem;
        /*margin-top: 1.5 rem;*/
        font-weight: 200 !important;
        max-width:unset;
        border-bottom: 1px solid #CFDAF5;
        margin-bottom: 1rem !important;
        margin-top: 1.5rem !important;
        font-size: 1.75rem !important;
    }

    .ul-footer {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 2rem !important;
        text-decoration: none !important;
        text-underline-offset: 0.15em !important;
        font-size: 0.917rem;
        font-family:Arial, sans-serif !important
    }

    .li-footer {
        color: #0E47CB;
        margin-bottom: 3rem;
        line-height: 2rem !important;
        text-decoration: none !important;
        text-underline-offset: 0.15rem !important;
        font-size: 0.917rem;
        font-weight: 300;
        font-family:Arial, sans-serif !important;
    }



    .icon-footer {
    height: 18px;
    width: 18px;
    color: #0E47CB;
    vertical-align: middle;
    display: inline;
    margin-right: 0.35rem;
    }

    .icon-footer-2nd {
        height: 18px;
        width: 18px;
        color: #0E47CB;
        vertical-align: middle;
        display: inline;
        margin-right: 0.35rem;
        margin-left: 2rem;
        }






