.navbar .logo {
    height: 3.5rem !important;
}

.navbar .navbar-title {
    display: none;
}

.tile-container>.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile {
    width: 48%;
    margin: 1%;
    background-color: transparent !important;
    border: 1px solid #ccc;
    border-radius: 12px !important;
    padding: 1rem !important;
    box-shadow: 2px 2px 2px #e1e1e1;
}

.tile .content .title {
    font-size: 1.3em !important;
    text-align: left !important;
    font-style: normal;
    color: #2c862d;
    background-color: #fafafa;
    margin: -1rem -1rem 0rem -1rem !important;
    padding: 0.6rem 1rem 0.4rem 1rem;
    flex: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 12px 12px 0 0 !important;
}

.tile .content {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tile .content .title + .paragraph {
    flex-grow: 100;
}

div.qanda > ol > li > p:first-child {
    margin-bottom: 0.8rem;
    color: #666;
    letter-spacing: 0.005rem;
}

div.qanda > ol > li {
    margin-top:1rem;
    margin-bottom:2rem;
}

.nav-item .separated {
    display:block;
    margin-top: 1.66rem;
    margin-left: -13.5px;
    border-bottom: 1px solid lightgray;
}

.nav-item .nav-link code {
    border: 1px solid #c1c1c1;
    border-radius: .25rem;
    color: inherit;
    opacity: .75;
    white-space: nowrap;
    padding: .125em .25em;
    display: inherit;
    float: right;
    font-size: 0.7rem;
    font-weight: 500;
}

.nav-panel-explore .context .dim {
    color: #999;
    font-size: 0.8rem;
}

.doc table.fixed-layout {
    table-layout: fixed;
}

/**** Theme reset ****/

.site-class-10184.page-class-publication-detail li:not([class]) {
    padding-left: unset;
}


/* Footer top */
.footer {
    /*border-top: 1px solid red;*/
    background-color: var(--gs-base-color-eu-blue-5)!important;
}

#footer #extendedft {
    padding-bottom: unset;
    line-height: unset;
    border: none;x
    position: relative;
    background-color:var(--gs-base-color-eu-blue-5);
    height: 85%; /* Is this needed? */
}

#footer .extendedft li {
    width: unset!important;
}
#footer .extendedft a {
    line-height: unset;
}

#footer #simpleft {
    display: none;
}

/**** Definitions ****/

.gcss-op .ls-footer-group {
    grid-row-gap:0!important;
    padding-bottom: var(--gs-base-spacing-l);
    border-bottom: 2px solid var(--gs-base-color-eu-blue-20);
}

/* Footer links */

.gcss-op.footer-eu a {
    text-decoration: none!important;
}

.gcss-op.footer-eu a.ls-underline {
    text-decoration: underline!important;
}
.gcss-op.footer-eu a.ls-underline:hover {
    text-decoration: none!important;
}


.gcss-op.footer-eu a:focus,
.gcss-op.footer-eu ul li a:focus,
.gcss-op.footer-eu a:focus-visible,
.gcss-op.footer-eu ul li a:focus-visible {
    text-decoration: none!important;
    outline: 2px solid var(--gs-base-color-link-100)!important;
    outline-offset: 4px;
    border-radius: 0.015rem;
    -moz-outline-radius: 0.015rem;
}

.gcss-op.footer-eu a:hover {
    text-decoration: underline!important;
    color: var(--gs-base-color-eu-blue-140)!important;
}

.gcss-op.footer-eu p,
.gcss-op.footer-eu h2,
.gcss-op.footer-eu h2 a,
.gcss-op.footer-eu h3,
.gcss-op.footer-eu h4 {
    color: var(--gs-base-color-eu-gray-140)!important;
}

.gcss-op.footer-eu h2 a:hover {
    color: var(--gs-base-color-eu-gray-140)!important;
}

.gcss-op.footer-eu h3 {
    max-width:unset;
}

/* Site name */

.gcss-op.footer-eu h2,
.gcss-op.footer-eu h3 {
    padding-bottom: .75rem;
    margin-top:var(--gs-base-spacing-l)!important;
    font-size: var(--gs-base-font-size-2xl)!important;
    font-weight: var(--gs-base-font-weight-default)!important;
}

.gcss-op.footer-eu h3 {
    border-bottom: 1px solid var(--gs-base-color-eu-blue-20);
    margin-bottom:1rem!important;
}

.gcss-op.footer-eu h2 {
    margin-bottom:0!important;
}

/* Site logo */

.gcss-op.footer-eu .ls-footer-logo {
    margin-bottom: var(--gs-base-spacing-s);
    margin-top:var(--gs-base-spacing-2xl);
}
.gcss-op.footer-eu .ls-footer-logo picture {
    max-height: 44px;
    width: auto;
}

.gcss-op.footer-eu .ls-footer-logo img.ls-op {
    max-height: 54px;
    width: auto;
}

.gcss-op.footer-eu .ls-site-byline {
    line-height: var(--gs-base-line-height-l)!important;
    margin-bottom: 0;
}

.gcss-op.footer-eu ul {
    margin: 0; /* remove from theme? */
    padding: 0; /* remove from theme? */
    list-style-type: none; /* remove from theme? */
    position: relative; /* remove from theme? */
}

.gcss-op.footer-eu ul li,
.gcss-op.footer-eu ul li a {
    margin-bottom: var(--gs-base-spacing-s)!important;
    line-height: var(--gs-base-line-height-m)!important;
}

.gcss-op.footer-eu ul.ls-social-media-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gs-base-spacing-l);
    row-gap: var(--gs-base-spacing-m);
}

.gcss-op.footer-eu ul.ls-social-media-list li,
.gcss-op.footer-eu ul.ls-social-media-list li a {
    margin-bottom: 0!important;
}

.gcss-op.footer-eu ul.ls-social-media-list li a i {
    display: inline-block;
    margin-right: 0.5rem;
}


@media screen and (min-width: 992px) {

    .gcss-op .ls-footer-group {
        column-gap: var(--gs-base-spacing-2xl)!important;
        padding-bottom: var(--gs-base-spacing-2xl);
    }

    .gcss-op.footer-eu h2,
    .gcss-op.footer-eu h3 {
        margin-top:var(--gs-base-spacing-2xl)!important;
        font-size: var(--gs-base-font-size-3xl)!important;
    }

    .gcss-op.ls-op-services-list {
        column-count: 3;
        /*column-gap:var(--gs-base-spacing-2xl)!important;*/
    }

}